Repository fdz23/SkyMed, pull requests merged in 2020-11, with the labels that each got.

#60 Criação back-end Agendamento
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/model/Especialidade.java
  back-end/src/main/java/com/skynet/skymed/model/Horario.java
  back-end/src/main/java/com/skynet/skymed/model/HorarioTrabalho.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/util/EnumeradorDiaDaSemana.java
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.html
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.ts
  front-end/src/assets/horarios.ts
  front-end/src/assets/medicos.ts
Labels: Back End, Criação

#61 Correção hospital e medico
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.html
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
Labels: Defeito, Front End

#62 Validação e-mail paciente editar
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
Labels: Back End, Melhoria

#63 Adição - Adicionadas máscaras para cpf e cnpj
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
Labels: Front End, Melhoria

#65 Criação agenda
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  front-end/angular.json
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/agendamento/agendamento/agendamento.component.html
  front-end/src/app/agendamento/agendamento/agendamento.component.spec.ts
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/assets/horariosTrabalho.ts
  front-end/src/assets/medicos.ts
Labels: Criação, Front End

#64 Criacão - Criado Autenticação JWT no BackEnd
  back-end/pom.xml
  back-end/src/main/java/com/skynet/skymed/config/JWTAuthenticationFilter.java
  back-end/src/main/java/com/skynet/skymed/config/JWTAuthorizationFilter.java
  back-end/src/main/java/com/skynet/skymed/config/SecurityConstants.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  back-end/src/main/java/com/skynet/skymed/repository/UsuarioRepository.java
  back-end/src/main/java/com/skynet/skymed/security/WebSecurityConfig.java
  back-end/src/main/java/com/skynet/skymed/service/CustomUserDetailService.java
Labels: Back End, Criação

#66 Implementando criação usuário
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  back-end/src/main/java/com/skynet/skymed/service/CustomUserDetailService.java
  back-end/src/main/java/com/skynet/skymed/service/EmailDePacienteService.java
  back-end/src/test/java/com/skynet/skymed/model/MedicoTest.java
  back-end/src/test/java/com/skynet/skymed/model/PessoaTest.java
  back-end/src/test/java/com/skynet/skymed/model/UsuarioTest.java
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.html
  front-end/src/assets/pessoas.ts
  front-end/src/assets/usuarios.ts
Labels: Back End, Criação, Front End, Melhoria

#68 Correção - Ajustado método para verificar e-mail existente ao editar paciente
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
Labels: Back End, Erro

#67 Crud especialidade
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/model/Especialidade.java
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.html
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.html
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.html
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.html
  front-end/src/app/navegacao/adm/adm-menu/adm.component.html
  front-end/src/app/navegacao/adm/adm-menu/adm.component.spec.ts
  front-end/src/app/navegacao/adm/adm-menu/adm.component.ts
  front-end/src/app/navegacao/adm/estatisticas/estatistica/estatistica.component.html
  front-end/src/app/navegacao/adm/estatisticas/estatistica/estatistica.component.spec.ts
  front-end/src/app/navegacao/adm/estatisticas/estatistica/estatistica.component.ts
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.html
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.spec.ts
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/assets/especialidades.ts
Labels: Back End, Criação, Front End, Melhoria

#70 Ajustes Agendamento
  back-end/src/main/java/com/skynet/skymed/model/HorarioTrabalho.java
  front-end/src/app/agendamento/agendamento/agendamento.component.html
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/medicos/list-medico-agendamento/list-medico-agendamento.component.html
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.html
Labels: Front End, Melhoria

#71 Ajuste - Adiciona verificação de mesmo horário
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
Labels: Front End, Melhoria

#72 Serviço para validar pessoa
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/service/ValidacaoPessoaService.java
Labels: Back End, Criação

#73 Criação da autenticação JWT
  back-end/src/main/java/com/skynet/skymed/config/JWTAuthenticationFilter.java
  back-end/src/main/java/com/skynet/skymed/config/SecurityConstants.java
  back-end/src/main/java/com/skynet/skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/security/WebSecurityConfig.java
  back-end/src/main/java/com/skynet/skymed/service/CustomUserDetailService.java
  back-end/src/main/java/com/skynet/skymed/service/ValidacaoPessoaService.java
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/autenticacao/autenticacao.admin.ts
  front-end/src/app/autenticacao/autenticacao.hospital.ts
  front-end/src/app/autenticacao/autenticacao.medico.ts
  front-end/src/app/autenticacao/autenticacao.paciente.ts
  front-end/src/app/autenticacao/autenticacao.service.spec.ts
  front-end/src/app/autenticacao/autenticacao.service.ts
  front-end/src/app/autenticacao/jwt.interceptor.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/servicos/especialidade.service.ts
  front-end/src/app/servicos/hospital.service.ts
  front-end/src/app/servicos/medico.service.ts
  front-end/src/app/servicos/pessoa.service.ts
  front-end/src/app/servicos/usuario.service.spec.ts
  front-end/src/app/servicos/usuario.service.ts
  front-end/src/assets/pessoas.ts
  front-end/src/assets/usuarios.ts
  front-end/src/environments/environment.ts
  front-end/tsconfig.app.json
  front-end/tsconfig.base.json
  front-end/tsconfig.json
  front-end/tsconfig.spec.json
Labels: Back End, Criação, Front End

#74 Fix listagem de pacientes
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  back-end/src/test/java/com/skynet/skymed/model/MedicoTest.java
  back-end/src/test/java/com/skynet/skymed/model/PessoaTest.java
Labels: Back End, Melhoria

#75 Ajuste agendamento
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/repository/HorarioRepository.java
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/agendamento/agendamento/agendamento.component.html
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/assets/medicos.ts
Labels: Back End, Defeito, Front End

#77 Correção Máscara
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.html
Labels: Defeito, Front End

#78 Correção - Ajusta demonstração de erro e máscara
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
Labels: Defeito, Front End

#76 Estatistica implementação do chart.js
  back-end/src/main/java/com/skynet/skymed/model/Especialidade.java
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.html
  front-end/src/app/navegacao/adm/adm-menu/adm.component.html
  front-end/src/app/navegacao/adm/adm-menu/adm.component.spec.ts
  front-end/src/app/navegacao/adm/adm-menu/adm.component.ts
  front-end/src/app/navegacao/adm/estatisticas/estatistica/estatistica.component.html
  front-end/src/app/navegacao/adm/estatisticas/estatistica/estatistica.component.ts
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.html
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.spec.ts
  front-end/src/app/navegacao/adm/relatorios/relatorio/relatorio.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.html
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.spec.ts
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.ts
  front-end/src/assets/especialidades.ts
Labels: Back End, Criação, Front End, Melhoria

#79 Ajuste de autenticação e cadastro médico
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/model/Hospital.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/repository/HospitalRepository.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/acessos/painel/painel.component.html
  front-end/src/app/acessos/painel/painel.component.spec.ts
  front-end/src/app/acessos/painel/painel.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/autenticacao/autenticacao.deslogado.ts
  front-end/src/app/autenticacao/autenticacao.logado.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.html
  front-end/src/app/servicos/hospital.service.ts
  front-end/src/assets/hospitais.ts
Labels: Back End, Criação, Defeito, Front End, Melhoria

#80 Tela de erro autorização
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/autenticacao/autenticacao.admin.ts
  front-end/src/app/autenticacao/autenticacao.hospital.ts
  front-end/src/app/autenticacao/autenticacao.medico.ts
  front-end/src/app/navegacao/autorizacao/autorizacao.component.html
  front-end/src/app/navegacao/autorizacao/autorizacao.component.spec.ts
  front-end/src/app/navegacao/autorizacao/autorizacao.component.ts
Labels: Criação, Front End, Melhoria
