Repository fdz23/SkyMed, pull requests merged in 2020-09, with the labels that each got.

#3 Criação - Criação dos arquivos angular e suas dependencias
  front-end/.browserslistrc
  front-end/.editorconfig
  front-end/.gitignore
  front-end/README.md
  front-end/angular.json
  front-end/e2e/protractor.conf.js
  front-end/e2e/src/app.e2e-spec.ts
  front-end/e2e/src/app.po.ts
  front-end/e2e/tsconfig.json
  front-end/karma.conf.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.component.css
  front-end/src/app/app.component.html
  front-end/src/app/app.component.spec.ts
  front-end/src/app/app.component.ts
  front-end/src/app/app.module.ts
  front-end/src/assets/.gitkeep
  front-end/src/environments/environment.prod.ts
  front-end/src/environments/environment.ts
  front-end/src/favicon.ico
  front-end/src/index.html
  front-end/src/main.ts
  front-end/src/polyfills.ts
  front-end/src/styles.css
  front-end/src/test.ts
  front-end/tsconfig.app.json
  front-end/tsconfig.base.json
  front-end/tsconfig.json
  front-end/tsconfig.spec.json
  front-end/tslint.json
Labels: Criação, Front End

#9 Criação - Cria componente de cadastro de médico
  front-end/src/app/app-routing.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.spec.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/styles.css
Labels: Criação, Front End

#6 Criação - Cria header
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/navegacao/header/header.component.spec.ts
  front-end/src/app/navegacao/header/header.component.ts
Labels: Criação, Front End

#8 Criação - Cria json com todas as cidades e estados
  front-end/src/assets/estados-cidades.json
  front-end/src/assets/estados.ts
Labels: Criação, Front End

#5 Criação - Cria dependencias e as declara
  front-end/angular.json
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app.component.html
  front-end/src/app/app.module.ts
  front-end/src/index.html
Labels: Criação, Front End

#7 Criação - Cria footer
  front-end/src/app/navegacao/footer/footer.component.html
  front-end/src/app/navegacao/footer/footer.component.spec.ts
  front-end/src/app/navegacao/footer/footer.component.ts
Labels: Criação, Front End

#12 Mudancas medico
  front-end/src/app/app.component.html
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/assets/medicos.ts
Labels: Front End, Melhoria

#11 Correção - Adicionada responsividade para mobile
  front-end/src/app/navegacao/footer/footer.component.html
Labels: Defeito, Front End

#10 Criacao home
  front-end/src/app/app-routing.module.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/navegacao/home/home.component.html
  front-end/src/app/navegacao/home/home.component.spec.ts
  front-end/src/app/navegacao/home/home.component.ts
Labels: Criação, Front End

#13 Adiciona id medico
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/assets/medicos.ts
Labels: Defeito, Front End

#14 Create crud paciente
  front-end/angular.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.spec.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/assets/pacientes.ts
Labels: Criação, Front End

#15 Correção - Adiciona checagem de campos não preenchidos
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
Labels: Defeito, Front End

#16 Criação - Adiciona campos de tipo de registro e especialidade
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/assets/medicos.ts
Labels: Criação, Front End

#17 Criação Hospital
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.spec.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/assets/hospitais.ts
Labels: Criação, Front End

#19 Criação Tela Login
  front-end/src/app/acessos/login/login.component.html
  front-end/src/app/acessos/login/login.component.spec.ts
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/navegacao/header/header.component.ts
Labels: Criação, Front End

#18 Validacao de formulario
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
Labels: Front End, Melhoria

#20 Criação - Criado botão Cancelar
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
Labels: Criação, Front End

#22 Correção - Corrigidas localidades dos botões
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
Labels: Defeito, Front End

#21 criacao - Criado Escopo do back-end
  back-end/.gitignore
  back-end/.mvn/wrapper/MavenWrapperDownloader.java
  back-end/.mvn/wrapper/maven-wrapper.jar
  back-end/.mvn/wrapper/maven-wrapper.properties
  back-end/mvnw
  back-end/mvnw.cmd
  back-end/pom.xml
  back-end/src/main/java/com/skynet/Skymed/Controller/PessoaRest.java
  back-end/src/main/java/com/skynet/Skymed/SkymedApplication.java
  back-end/src/main/java/com/skynet/Skymed/dao/PacienteDao.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IDao.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IRest.java
  back-end/src/main/java/com/skynet/Skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/Skymed/model/Pessoa.java
  back-end/src/main/resources/application.properties
  back-end/src/test/java/com/skynet/Skymed/SkymedApplicationTests.java
Labels: Back End, Criação

#23 Melhoria - melhorias de estrutura de classe, nome de variáveis e criado mapeamento com jpa
  back-end/src/main/java/com/skynet/Skymed/Controller/PessoaController.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IController.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IRepository.java
  back-end/src/main/java/com/skynet/Skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/Skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/Skymed/repository/PessoaRepository.java
  back-end/src/main/resources/application.properties
Labels: Back End, Melhoria

#24 Correção - Deletado arquivos antigos e corrigido interface Controller
  back-end/src/main/java/com/skynet/Skymed/Controller/PessoaController.java
  back-end/src/main/java/com/skynet/Skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/Skymed/dao/PacienteDao.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IController.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IDao.java
  back-end/src/main/java/com/skynet/Skymed/interfaces/IRest.java
  back-end/src/main/java/com/skynet/Skymed/repository/PessoaRepository.java
Labels: Back End, Defeito

#25 Criação - Criada estrutura do médico no back-end
  back-end/src/main/java/com/skynet/Skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/Skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/Skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/Skymed/model/Medico.java
  back-end/src/main/java/com/skynet/Skymed/repository/EnderecoRepository.java
  back-end/src/main/java/com/skynet/Skymed/repository/MedicoRepository.java
Labels: Back End, Criação

#26 Melhoria - Ajustado Controller pessoa e suas dependências
  back-end/src/main/java/com/skynet/Skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/Skymed/repository/PessoaRepository.java
Labels: Back End, Melhoria

#27 Correção - Corrigido problema ao dar GET por ID
  back-end/src/main/java/com/skynet/Skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/Skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/Skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/Skymed/model/Medico.java
  back-end/src/main/java/com/skynet/Skymed/repository/EnderecoRepository.java
  back-end/src/main/java/com/skynet/Skymed/repository/MedicoRepository.java
  back-end/src/main/java/com/skynet/Skymed/repository/PessoaRepository.java
  back-end/src/main/resources/application.properties
Labels: Back End, Erro

#28 Criação - Cria comunicação com back-end para inserção de dados
  back-end/src/main/java/com/skynet/Skymed/component/CorsComponent.java
  back-end/src/main/java/com/skynet/Skymed/model/Endereco.java
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/servicos/cep.service.spec.ts
  front-end/src/app/servicos/cep.service.ts
  front-end/src/app/servicos/medico.service.spec.ts
  front-end/src/app/servicos/medico.service.ts
  front-end/src/assets/enderecos.ts
  front-end/src/assets/medicos.ts
Labels: Back End, Criação, Defeito, Front End

#29 Correção - Modifica nome do pacote
  back-end/src/main/java/com/skynet/skymed/SkymedApplication.java
  back-end/src/main/java/com/skynet/skymed/component/CorsComponent.java
  back-end/src/main/java/com/skynet/skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IRepository.java
  back-end/src/main/java/com/skynet/skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/EnderecoRepository.java
  back-end/src/main/java/com/skynet/skymed/repository/MedicoRepository.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
Labels: Back End, Defeito

#30 Correção - Corrige nome das colunas da entidade
  back-end/src/main/java/com/skynet/skymed/model/Endereco.java
Labels: Back End, Defeito

#31 Criacão comunicão Back-End Paciente
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.spec.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/servicos/paciente.service.spec.ts
  front-end/src/app/servicos/paciente.service.ts
  front-end/src/assets/pacientes.ts
Labels: Criação, Front End, Melhoria

#32 Melhoria - Inserido Máscara de CPF/CNPJ
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
Labels: Front End, Melhoria

#33 Criação - Criadas validações nas entidades
  back-end/src/main/java/com/skynet/skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
Labels: Back End, Criação

#34 Criação - Criação dos testes do modelo Endereço
  back-end/pom.xml
  back-end/src/main/java/com/skynet/skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
  back-end/src/test/java/com/skynet/Skymed/SkymedApplicationTests.java
  back-end/src/test/java/com/skynet/skymed/model/EnderecoTest.java
Labels: Back End, Criação
