Repository fdz23/SkyMed, pull requests merged in 2020-10, with the labels that each got.

#36 Criado Metodo para enviar Token para Paciente
  back-end/.gitignore
  back-end/pom.xml
  back-end/sendgrid.env
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IEmailService.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  back-end/src/main/java/com/skynet/skymed/service/EmailDePacienteService.java
  back-end/src/main/java/com/skynet/skymed/util/GeradorDeToken.java
  back-end/src/main/resources/application.properties
Labels: Back End, Criação

#38 Correção - Corrigidas possibilidades de falha
  back-end/src/test/java/com/skynet/skymed/model/EnderecoTest.java
  back-end/src/test/java/com/skynet/skymed/model/MedicoTest.java
Labels: Back End, Defeito

#37 Criação - Implementação de validação entidade pessoa
  back-end/src/main/java/com/skynet/skymed/controller/EnderecoController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IEmailService.java
  back-end/src/main/java/com/skynet/skymed/model/Endereco.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/service/EmailDePacienteService.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
  back-end/src/test/java/com/skynet/skymed/model/EnderecoTest.java
  back-end/src/test/java/com/skynet/skymed/model/PessoaTest.java
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
Labels: Back End, Criação

#39 Criação - Criada estrutura do Hospital
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/model/Hospital.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/HospitalRepository.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
Labels: Back End, Criação

#40 Melhoria - Ajustado campo CPF Entidade Paciente/Pessoa e Entidade de teste
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/test/java/com/skynet/skymed/model/PessoaTest.java
Labels: Back End, Melhoria

#43 Criação do front end de especialidades
  front-end/package-lock.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.html
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.spec.ts
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/servicos/especialidade.service.spec.ts
  front-end/src/app/servicos/especialidade.service.ts
  front-end/src/assets/especialidades.ts
Labels: Criação, Front End

#44 Crud especialidade back end
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/model/Especialidade.java
  back-end/src/main/java/com/skynet/skymed/repository/EspecialidadeRepository.java
Labels: Back End, Criação

#47 Criação de listagem e edição de médicos
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  back-end/src/main/java/com/skynet/skymed/util/Validadores.java
  back-end/src/test/java/com/skynet/skymed/model/MedicoTest.java
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.html
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.spec.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.html
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.spec.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.ts
  front-end/src/app/navegacao/footer/footer.component.html
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/servicos/medico.service.ts
  front-end/src/assets/medicos.ts
Labels: Back End, Criação, Front End

#48 Melhoria - Ajustado métodos Back-End e Front-End
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.html
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
  front-end/src/app/servicos/paciente.service.spec.ts
  front-end/src/app/servicos/pessoa.service.ts
  front-end/src/assets/pessoas.ts
Labels: Back End, Front End, Melhoria

#49 Criação do serviço do hospital
  back-end/src/main/java/com/skynet/skymed/model/Medico.java
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.html
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.html
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/servicos/hospital.service.spec.ts
  front-end/src/app/servicos/hospital.service.ts
  front-end/src/assets/hospitais.ts
  front-end/src/assets/medicos.ts
Labels: Criação, Front End

#46 Correções - Validar nome e importações corrigidos
  back-end/src/main/java/com/skynet/skymed/model/Especialidade.java
  back-end/src/test/java/com/skynet/skymed/model/EspecialidadeTest.java
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.html
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.spec.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.html
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.spec.ts
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/servicos/especialidade.service.ts
  front-end/src/assets/especialidades.ts
Labels: Back End, Melhoria

#51 Melhoria - Divs de fechamento incorretas
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
Labels: Front End, Melhoria

#54 Melhoria - Corrigido quebra de layout Email e Telefone
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
Labels: Front End, Melhoria

#55 Adição do multi-select para especialidades e médicos
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
Labels: Front End, Melhoria

#56 Correção - Adicionado um ExceptionHandler
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
Labels: Back End, Melhoria

#58 Validacão de cadastro pacientes
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
Labels: Back End, Melhoria

#57 Melhoria botão excluir
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.html
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.html
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
Labels: Front End, Melhoria

#59 Ajuste mascara cpf
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
Labels: Front End, Melhoria
