Repository fdz23/SkyMed, pull requests merged in 2020-12, with the labels that each got.

#81 Ajuste autenticação e cria senha ao cadastrar
  back-end/src/main/java/com/skynet/skymed/config/JWTAuthenticationFilter.java
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/util/GeradorDeSenha.java
  front-end/src/app/autenticacao/autenticacao.service.ts
Labels: Back End, Melhoria

#82 Criação autenticação de conta com token enviado com sendgrid
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/service/EmailDePacienteService.java
  back-end/src/test/java/com/skynet/skymed/model/PessoaTest.java
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/autenticacao/autenticacao.paciente.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/navegacao/autorizacao/erro-autorizacao/autorizacao.component.html
  front-end/src/app/navegacao/autorizacao/erro-autorizacao/autorizacao.component.spec.ts
  front-end/src/app/navegacao/autorizacao/erro-autorizacao/autorizacao.component.ts
  front-end/src/app/navegacao/autorizacao/verificacao-email/verificacao-email.component.html
  front-end/src/app/navegacao/autorizacao/verificacao-email/verificacao-email.component.spec.ts
  front-end/src/app/navegacao/autorizacao/verificacao-email/verificacao-email.component.ts
  front-end/src/app/servicos/usuario.service.ts
  front-end/src/assets/usuarios.ts
Labels: Back End, Criação, Front End, Melhoria

#83 Criação painel usuário
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/model/Horario.java
  back-end/src/main/java/com/skynet/skymed/model/Pessoa.java
  back-end/src/main/java/com/skynet/skymed/repository/PessoaRepository.java
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/acessos/painel/painel.component.html
  front-end/src/app/acessos/painel/painel.component.ts
  front-end/src/app/agendamento/agendamento/agendamento.component.ts
  front-end/src/app/agendamento/list-consultas/list-consultas.component.html
  front-end/src/app/agendamento/list-consultas/list-consultas.component.spec.ts
  front-end/src/app/agendamento/list-consultas/list-consultas.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/autenticacao/autenticacao.service.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/navegacao/autorizacao/verificacao-email/verificacao-email.component.ts
  front-end/src/app/servicos/medico.service.ts
  front-end/src/app/servicos/pessoa.service.ts
  front-end/src/app/servicos/usuario.service.ts
  front-end/src/assets/horarios.ts
Labels: Criação, Front End

#84 Criação modal carregamento
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/PessoaController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/interfaces/IEmailService.java
  back-end/src/main/java/com/skynet/skymed/service/EmailService.java
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.html
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.html
  front-end/src/app/cruds/pacientes/paciente-editar/paciente-editar.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.html
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
  front-end/src/app/navegacao/header/header.component.ts
  front-end/src/app/navegacao/home/home.component.html
  front-end/src/app/navegacao/home/home.component.ts
Labels: Back End, Criação, Front End, Melhoria

#85 Estatistica implementação do chart.js
  back-end/src/main/java/com/skynet/skymed/controller/HospitalController.java
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  front-end/angular.json
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.html
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.ts
  front-end/src/styles.css
Labels: Back End, Criação, Front End, Melhoria

#86 Criacão designer home
  front-end/src/app/acessos/login/login.component.html
  front-end/src/app/acessos/login/login.component.ts
  front-end/src/app/acessos/painel/painel.component.html
  front-end/src/app/acessos/painel/painel.component.ts
  front-end/src/app/app.component.html
  front-end/src/app/app.module.ts
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.html
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.html
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.html
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.ts
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.html
  front-end/src/app/cruds/hospitais/create-hospital/create-hospital.component.ts
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.html
  front-end/src/app/cruds/medicos/create-medico/create-medico.component.ts
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.html
  front-end/src/app/cruds/medicos/edit-medico/edit-medico.component.ts
  front-end/src/app/cruds/medicos/list-medico-agendamento/list-medico-agendamento.component.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.html
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.ts
  front-end/src/app/cruds/pacientes/create-paciente/create-paciente.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.html
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
  front-end/src/app/navegacao/footer/footer.component.html
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/navegacao/home/home.component.html
  front-end/src/app/navegacao/home/home.component.ts
  front-end/src/app/navegacao/painel administrativo/estatistica/estatistica.component.ts
  front-end/src/assets/card/cliente-card.jpg
  front-end/src/assets/card/medico-card.jpg
  front-end/src/assets/card/medicos-card.jpg
  front-end/src/assets/card/secretaria-card.jpg
  front-end/src/assets/logo/skymed-logo.png
  front-end/src/assets/slideshow/medico-slideshow-1.jpg
  front-end/src/assets/slideshow/medicos-slideshow-2.jpg
Labels: Criação, Front End, Melhoria

#87 Criação alteração senha
  back-end/src/main/java/com/skynet/skymed/controller/MedicoController.java
  back-end/src/main/java/com/skynet/skymed/controller/UsuarioController.java
  back-end/src/main/java/com/skynet/skymed/model/Usuario.java
  back-end/src/main/java/com/skynet/skymed/repository/MedicoRepository.java
  front-end/src/app/acessos/alterar-senha/alterar-senha.component.html
  front-end/src/app/acessos/alterar-senha/alterar-senha.component.spec.ts
  front-end/src/app/acessos/alterar-senha/alterar-senha.component.ts
  front-end/src/app/acessos/painel/entre-em-contato/entre-em-contato.component.html
  front-end/src/app/acessos/painel/entre-em-contato/entre-em-contato.component.spec.ts
  front-end/src/app/acessos/painel/entre-em-contato/entre-em-contato.component.ts
  front-end/src/app/acessos/painel/painel.component.html
  front-end/src/app/acessos/painel/painel.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/navegacao/footer/footer.component.html
  front-end/src/app/navegacao/header/header.component.html
  front-end/src/app/servicos/medico.service.ts
  front-end/src/app/servicos/usuario.service.ts
  front-end/src/assets/usuarios.ts
  front-end/src/styles.css
Labels: Criação, Front End

#89 Melhoria corousel home
  front-end/src/app/navegacao/home/home.component.html
  front-end/src/assets/slideshow/medico-slideshow-1.jpg
  front-end/src/assets/slideshow/medicos-slideshow-2.jpg
Labels: Front End, Melhoria

#88 Validadando se nome ja existe
  back-end/src/main/java/com/skynet/skymed/controller/EspecialidadeController.java
  back-end/src/main/java/com/skynet/skymed/repository/EspecialidadeRepository.java
  front-end/src/app/cruds/especialidades/create-especialidade/create-especialidade.component.ts
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
Labels: Back End, Erro, Front End

#90 Correção Erro ID
  front-end/src/app/cruds/especialidades/edit-especialidade/edit-especialidade.component.ts
Labels: Erro, Front End

#91 Correção - Ajusta menu que aparece na header
  front-end/src/app/app-routing.module.ts
  front-end/src/app/navegacao/header/header.component.ts
Labels: Defeito, Front End

#92 Correção - Removido looping infinito das telas
  front-end/src/app/cruds/especialidades/list-especialidade/list-especialidade.component.ts
  front-end/src/app/cruds/medicos/list-medico/list-medico.component.ts
  front-end/src/app/cruds/pacientes/paciente-listar/paciente-listar.component.ts
Labels: Erro, Front End
